<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<h2><%= @game.current_turn.name %> attacked <%= @game.opponent.name %></h2>
<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>
</body>
</html>
